<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Log in with your account</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link href="/css/main.css" rel="stylesheet">
</head>

<body>

	<nav th:replace="nav.html :: nav"> </nav>
	<div class="container">

		<table class="table">
			<thead>
				<tr>
					<th scope="col">Id Solicitud</th>
					<th scope="col">Id Collaborator</th>
					<th scope="col">Fecha Creacion</th>
					<th scope="col">Fecha Inicio</th>
					<th scope="col">Fecha Fin</th>
					<th scope="col">Cant. Dias</th>
					<th scope="col">Estado</th>
					<th scope="col">Accion</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="solicitud : ${solicitudes}">
					<td th:text="${solicitud.id}"></td>
					<td th:text="${solicitud.idCollaborator}"></td>
					<td th:text="${solicitud.createAt}"></td>
					<td th:text="${solicitud.requestDayBegin}"></td>
					<td th:text="${solicitud.requestDayEnd}"></td>
					<td th:text="${solicitud.qtyDias}"></td>
					<td th:text="${solicitud.requestStatus}"></td>
					<td><select th:id="${solicitud.id}"
						th:onchange="'updateRequest(' + ${solicitud.id} + ')'">
							<option>Seleccione</option>
							<option th:value='ACEPTADA'>Aceptar</option>
							<option th:value='RECHAZADA'>Rechazar</option>
							<option th:value='PENDIENTE'>Pendiente</option>
					</select></td>
				</tr>
			</tbody>
		</table>

	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{../static/solicitudes.js}"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script type="text/javascript">
    
    const updateRequest = ( solicitud_id ) => {
    	var status = $("#"+solicitud_id).val();
    	var data_json = ` { "id": ${solicitud_id} , "requestStatus" : "${status}" }`;
    
	    $.ajax({
	        type: "PUT",
	        url: "requests",
	        contentType: "application/json",
	        data: data_json,
	        success: function(response){
	          location.reload()
	        },
	        error: function(error){
	           //alert('No Actualizado')//
	          }
	        });
	    }

     </script>

</body>
</html>