<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Log in with your account</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link href="/css/main.css" rel="stylesheet">
</head>

<body>
	<div class="container">

        <h2 class="form-heading" th:text="'Solicitudes de Vacaciones de, ' + ${user.rutCollaborator} + ''"></h2>
        <br/>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Id Solicitud</th>
                	<th scope="col">Fecha Inicio</th>
                	<th scope="col">Fecha Fin</th>
                	<th scope="col">Estado</th>
				</tr>
			</thead>
			<tbody>
				<tr>
   					<td ></td>
   					<td><input th:id="date_begin" type="date"></input></td>
   					<td><input th:id="date_end" type="date"></input></td>
   					<td ></td>
   					<td ></td>
   					<td></td>
   					<td><button th:onclick="'addRequest(' + ${user.rutCollaborator} + ')'">Nueva Solicitud</button></td>	
				</tr>
				<tr th:each="solicitud : ${user.request}">
   					<td th:text="${solicitud.id}"></td>
   					<td th:text="${solicitud.requestDayBegin}"></td>
   					<td th:text="${solicitud.requestDayEnd}"></td>
   					<td th:text="${solicitud.requestStatus}"></td>	
				</tr>
			</tbody>
		</table>

	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script type="text/javascript">
    
    const addRequest = ( collaborator_id ) => {
    	var begin = $("#date_begin").val();
    	var end = $("#date_end").val();
    	
    	var data_json = ` { "idCollaborator": ${collaborator_id} , "requestDayBegin" : "${begin}" , "requestDayEnd" : "${end}" }`;
    
	    $.ajax({
	        type: "POST",
	        url: "requests",
	        contentType: "application/json",
	        data: data_json,
	        success: function(response){
	          location.reload()
	        },
	        error: function(error){
	           alert('No Actualizado')//
	          }
	        });
	    }

     </script>
</body>
</html>